<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.modules.admin.mapper.ClassTeacherMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgh.modules.admin.model.ClassTeacher">
        <result column="new_teacher" property="newTeacher" />
        <result column="old_teacher" property="oldTeacher" />
        <result column="student_id" property="studentId" />
        <result column="counselor" property="counselor" />
    </resultMap>

</mapper>
