<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lgh.modules.admin.mapper.XTimeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.lgh.modules.admin.model.XTime">
        <id column="id" property="id" />
        <result column="student_size" property="studentSize" />
        <result column="first_time" property="firstTime" />
        <result column="two_time" property="twoTime" />
    </resultMap>

</mapper>
